registry=https://registry.npmjs.org/  
@syncfusion:registry=https://nexus.syncfusioninternal.com/repository/ej2-angular-release
@syncfusion:registry=https://nexus.syncfusioninternal.com/repository/ej2-release